.container{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  
}
.ph{
  width: 200px ;
}
.item{
  color: white;
  
  margin-right: 20px;
  padding: 20px;
 cursor:pointer
}
*{
  margin: 0px;
  padding:0px;
}
.qq{
  margin: 20px;
}

.item:hover{
  color: rgb(55, 5, 171);
}